@model List<OSSecuryt.BelezaPura.Domain.Entity.Servicos>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Painel de Serviços</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*<div class="card card-style">
    <div class="content mb-2 p-2">
        <div class="row mb-3">
            <div class="col-12 col-md-6 mb-3">
                <h1 class="text-color1">Lista de Serviços</h1>
                <p>
                    Aqui você gerencia informações.
                </p>
            </div>
            <div class="col-12 col-md-3 col-sm-6">
                <div class="input-style has-borders mb no-icon mb-4">
                    <input type="text" class="form-control" id="pesquisar-servico" placeholder="Pesquisar" onchange="PesquisarServico($(this).val())">
                </div>
            </div>
            <div class="col-12 col-md-3 col-sm-6">
                <a href="/Servico/Cadastro" class="btn btn-xl btn-full bg-blue-dark rounded-sm text-uppercase font-400">Cadastrar</a>
            </div>
        </div>*@
        @*<div class="table-responsive-sm" id="lista-de-servicos">
            @{
                await Html.RenderPartialAsync("ListaServicos.cshtml", Model);
            }
        </div>*@
    </div>
</div>
